.navbar {
  background-color: aquamarine;
  grid-column-start: 1;
  grid-column-end: 2;
}
.navbar_list {
  list-style: none;
}
.link {
  color:white;
  text-decoration: none;
}
.activeLink {
  color: gold
}
